body {
	background-color: #B68453;
	margin: 0px;
	margin-top: 18px;
	padding: 0px;
	font-family: "Lucida Console", Lucida, monospace;
	font-size: 15px;
}
a:link {
	color: #000000;
    text-decoration: none;
}
a:visited {
	color: #000000;
    text-decoration: none;
}
a:hover {
	color: #A1A4A8;
    text-decoration: none;
}
a:active {
	color: #000000;
    text-decoration: none;
}
#banner{
	margin: 0px;
	padding: 0px;
	max-width: 768px;
	max-height: 180px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}
#banner img{
    max-width: 768px;
    max-height: 180px;
}
#menu{
	width: 768px;
	height: 36px;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	background-color: #000000;
}
#menu ul{
	margin: 0px;
	padding: 10px;
	list-style-type: none;
	text-align: center;
}
#menu ul li {
	display: inline;
	font-size: 15px;
}
#menu ul li a{
	padding: 10px 36px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000000;
}
#menu ul li a:hover{
	color: #000;
	background-color: #FFFFFF;
}
#content{
	width: 768px;
	height: auto;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	border: 1px solid black;
}
#main_bar{
	margin: 0px;
	padding: 18px;
	width: 512px;
}
#main_bar h1{
	text-align: center;
	font-size: 25px;
}
#main_bar h2{
	color: #A1A4A8;
	font-style: italic;
	font-size: 15px;
}
#main_bar h3{
	font-size: 15px;
	margin-top: 5px;
	padding: 5px;
	padding-left: 10px;
	background-color: #EBEBEB;
}
#main_bar h4{
	font-size: 15px;
}
#side_bar{
	float: right;
	width: 220px;
}
#side_bar ol{
	font-size: 15px;
}
#side_bar ul img{
	float: left;
}
#footer{
	width: 768px;
	height: auto;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
	border: 1px solid black;
}
#footer p{
	text-align:	center;
	color: #FFFFFF;
}