body{
	margin: 0px;
	padding: 0px;
	background-image: url("battle-net-1920x1080.jpg");
    background-repeat: no-repeat;
	background-size: 1280px 720px;
    background-position: center top;
	//background-color: #e6e6e6;
	background-color: #00111a;
	font-family: Arial, Helvetica, sans-serif;
}

#banner{
	margin: auto;
	padding: 0px;
	padding-left: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: auto;
	height: 40px;
	background-color: #00b8e6;
	border-bottom: 1px solid white;
    //opacity: 0.5;
}

#bannerLogo{
	margin: 0px;
	padding: 0px;
	color: white;
	height: 40px;
	font-size: 40px;
	text-decoration: none;
}

#menu{
	margin: auto;
	padding: 0px;
	padding-left: 250px;
	padding-top: 7px;
	padding-bottom: 2px;
	width: auto;
	height: 30px;
	background-color: #00b8e6;
	border-bottom: 1px solid white;
	display: flex;
}

.menuItem{
	margin: 0px;
	margin-right: 40px;
	padding: 0px;
	//width: 100px;
	//height: 30px;
	font-size: 20px;
	color: white;
	//background-color: white;
	//text-align: center;
	line-height: 30px;

	border-radius: 5px;
	opacity: 0.8;
}

.menuItem:hover{
    //background-color: yellow;
	opacity: 1;
}