body{
	margin: 0px;
	padding: 0px;
	//background-image: url("battle-net-1920x1080.jpg");
	background-image: url("69181147-blizzard-wallpapers.jpg");
    background-repeat: no-repeat;
	//background-size: 1280px 720px;
    background-position: center top;
	//background-color: #e6e6e6;
	background-color: #00111a;
	font-family: Arial, Helvetica, sans-serif;
}

#banner{
	margin: auto;
	padding: 0px;
	width: auto;
	height: 40px;
	//background-color: #00b8e6;
	border-bottom: 1px solid white;
	background: rgba(0,0,0,0.7);
}

.backgroundBlur{
	position: absolute;
	margin: 0px;
	padding: 0px;
	left: -100px;
	width: 100%;
	height: 100px;
	z-index: -1;
	background: rgba(0,0,0,0.6);
	filter: blur(10px);
}

#bannerLogo{
	margin: 0px;
	margin-left: 10%;
	padding: 0px;
	color: white;
	height: 40px;
	font-size: 40px;
	text-decoration: none;
}

#menu{
	margin: auto;
	padding: 0px;
	padding-left: 10%;
	padding-top: 7px;
	padding-bottom: 2px;
	width: auto;
	height: 30px;
	//background-color: #00b8e6;
	border-bottom: 1px solid white;
	background: rgba(0,0,0,0.7);
}

.menuItem{
	margin: 0px;
	margin-right: 40px;
	padding: 0px;
	font-size: 20px;
	color: white;
	line-height: 30px;
	text-decoration: none;
}

.menuItem:hover{
    //background-color: yellow;
	opacity: 1;
}